<div class="input-container">
  <p>First Component</p>
  <input [ngClass]="firstCount <= 0 ? 'red' : 'blue'" [value]="firstCount | async" disabled>
  <input [ngClass]="secondCount > 0 ? 'blue' : 'red'" [value]="secondCount | async" disabled>

  <div>
      <button (click)="start()">Start</button>
      <button (click)="stop()">Stop</button>   
  </div>
</div>

<div class="input-container">
    <p>Second Component</p>
    <app-second [firstCount]="firstCount" [secondCount]="secondCount"></app-second>
</div>
